<div class='container px-5 px-sm-0'>
<div class="row">
<div class="col-md-3 py-3 px-1 ">
<h3>車両検索</h3>
<%= search_form_for @q, url: search_public_cars_path do |f| %>
<%= f.label :car_model_cont, '(車種)' %>
<%= f.search_field :car_model_cont %>
<%= f.submit '検索' %>
<% end %>
</div>
<%= render 'admin/cars/car', cars: @cars %>

