<div class='container px-5 px-sm-0'>
<div class="row">
<div class="col-md-3">
</div>


<div class="col-md-8 py-3 ">
<h2>検索結果一覧</h2>

<table class='table table-hover table-inverse'>
<thead>
<tr>
<th>ID</th>
<th>車種</th>
<th>年式</th>
<th>本体価格</th>
<th>支払い総額</th>
<th>車両画像</th>
</tr>
</thead>
<tbody>
<% @results.each do |car| %>
<tr>
<td><%= car.id %></td>
<td><%= link_to public_car_path(car.id) do %>
<%= car.car_model %>
<% end %>
</td>

<td><%= car.years %>（年）</td>
<td><%= car.body_price %>万円</td>
<td><%= car.total_price %>万円</td>
<td><%= link_to public_car_path(car.id) do %>
<%= image_tag car.image, size: "130x100" %>
<% end %>
</td>
<td></td>
</tr>
<% end %>
<td><%= link_to '戻る', public_cars_path %></td>
<td><%= link_to 'Topページへ', root_path %></td>
</tbody>
</table>
</div>
</div>
</div>