<div class="container">
<div class="col-md-7">
<div class="p-2 bd-highlight">
<thead>
<tbody>
<h3><td>在庫車両詳細　登録NO.<%= @car.id %></td></h3>
</div>
<table class="table table-bordered">
<tr>
<td>車種</td><td><%= @car.car_model %></td>
</tr>
<tr>
<td>年式</td><td><%= @car.years %></td>
</tr>
<tr>
<td>本体価格</td><td><%= @car.body_price %>万円</td>
</tr>
<tr>
<td>支払い総額</td><td><%= @car.total_price %>万円</td>
</tr>
<tr>
<td>車両画像</td><td><%= image_tag @car.image, size: "250x200" %></td>
</tr>
<tr>
<td>車両紹介動画</td><td><%= video_tag(@car.video_top.to_s, :controls => true, :size => "250x200") %></td>
</tr>
<tr>
<% if @car.favorited_by?(current_customer) %>
<p>
  <%= link_to public_car_favorites_path(@car), method: :delete do %>
    ★<%= @car.favorites.count %> お気に入り済み
  <% end %>
</p>
<% else %>
<p>
  <%= link_to public_car_favorites_path(@car), method: :post do %>
    ☆<%= @car.favorites.count %> お気に入り
  <% end %>
</p>
<% end %>
</tr>
</table>
</thead>
</tbody>
</div>
</div>