<div class="container">
<div class="w-50">
<div class="p-2 bd-highlight">
<h1>新規投稿</h1>
<% if @car.errors.any? %>
<%= @car.errors.count %>件のエラーが発生しました
<ul>
<% @car.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
<% end %>

<%= form_with model: @car, url: admin_cars_path, method: :post do |f| %>
  <h4>車種</h4>
  <%= f.text_field :car_model %>
  <h4>年式</h4>
  <%= f.text_field :years %>
  <h4>本体価格</h4>
  <%= f.text_field :body_price %>
  <h4>支払い総額</h4>
  <%= f.text_field :total_price %>
  <h4>車両画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>車両紹介動画</h4>
  <%= f.file_field :video_top, :accept => 'video/*' %>
  <h4>担当者からのコメント</h4>
  <%= f.text_area :body %></br>

  <%= f.submit '投稿' %>
<% end %>