
<div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h1 class="display-3">Car-Finder</h1>
            <p class="lead">より良い生活を送るために、車選びをサポートします！</p>
        </div>
    </div>
<div class="container">
  <div class="row">
    <div class="text-center py-3 mx-auto d-flex align-cars-center justify-content-center ">
      <%= image_tag(asset_path("top.jpg"), width: '95%', height: '90%') %>
    </div>
  </div>
    <div class="row">
      <div class="col">
        <h4 class= "text-center" >当店在庫車両</h4>
        <div class="row">
          <div class="container-fluid">
        <div class="card-deck m-3">
        <% @cars.each do |car| %>
        <div class="col-md-3 py-3">
          <div class="card">
         <%= link_to public_car_path(car.id) do %>
         <div class="card">
         <%= image_tag car.image, size: "130x100" %>
         <% end %>
         </div>
            <div class="card-body">
              <h6 class="card-title"><%= car.car_model %></h6>
              <h6 class="card-text"><%= car.years %>年式</h6>
              <h6 class="card-text">車両本体価格<%= car.body_price %>万円</h6>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <div class="text-right py-2">
      <a href = "/public/cars">全ての在庫を見る></a>
      </div>
    </div>
    </div>
</div>